.bard {
  background-size: 35px 70px;
  image-rendering: pixelated;
  margin: auto;
  z-index: 4;
  height: 70px;
  width: 35px;
  position: absolute;
  background-size: 35px 70px;
  top: 140px;
  left: 85px;
  animation: perform infinite 1.5s;
  animation-timing-function: steps(5, end);
}

.bard:hover {
  cursor: pointer;
}

@keyframes perform {
  0% {
    background: url(./images/bard/bard-1.png) no-repeat;
    image-rendering: pixelated;
  }
  24.9% {
    background: url(./images/bard/bard-1.png) no-repeat;
    image-rendering: pixelated;
  }
  25% {
    background: url(./images/bard/bard-2.png) no-repeat;
    image-rendering: pixelated;
  }
  49.9% {
    background: url(./images/bard/bard-2.png) no-repeat;
    image-rendering: pixelated;
  }
  50% {
    background: url(./images/bard/bard-3.png) no-repeat;
    image-rendering: pixelated;
  }
  74.9% {
    background: url(./images/bard/bard-3.png) no-repeat;
    image-rendering: pixelated;
  }
  75% {
    background: url(./images/bard/bard-4.png) no-repeat;
    image-rendering: pixelated;
  }
  99.9% {
    background: url(./images/bard/bard-4.png) no-repeat;
  }
  100% {
    background: url(./images/bard/bard-1.png) no-repeat;
  }
}
