.bar-patron {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  margin: auto;
  z-index: 4;
  height: 70px;
  width: 35px;
  position: absolute;
  top: 220px;
  left: 63px;
  background-repeat: no-repeat;
  background-size: 35px 70px;

  -moz-animation: patron infinite 12s steps(15, start),
    move-patron infinite 12s linear;
  -webkit-animation: patron infinite 12s steps(15, start),
    move-patron infinite 12s linear;
  animation: patron infinite 12s steps(15, start),
    move-patron infinite 12s linear;
}

.bar-patron:hover {
  cursor: pointer;
}

@-moz-keyframes patron {
  0% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  4.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  5% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  9.9% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  10% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  14.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  15% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  19.9% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  20% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  21.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  22% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  51% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  54.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  55% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  59.9% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  60% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  64.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  65% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  69.9% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  70% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  74.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75.1% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-webkit-keyframes patron {
  0% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  4.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  5% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  9.9% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  10% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  14.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  15% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  19.9% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  20% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  21.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  22% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  51% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  54.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  55% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  59.9% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  60% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  64.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  65% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  69.9% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  70% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  74.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75.1% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes patron {
  0% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  4.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  5% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  9.9% {
    background: url(./images/chara5_5/right_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  10% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  14.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  15% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  19.9% {
    background: url(./images/chara5_5/right_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  20% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  21.9% {
    background: url(./images/chara5_5/right_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  22% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  51% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  54.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  55% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  59.9% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  60% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  64.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  65% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  69.9% {
    background: url(./images/chara5_5/left_walk2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  70% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  74.9% {
    background: url(./images/chara5_5/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75% {
    background: url(./images/chara5_5/left_walk1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  75.1% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url(./images/chara5_5/up_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes move-patron {
  0% {
    left: 63px;
  }
  20% {
    left: 180px;
  }
  50% {
    left: 180px;
  }
  75% {
    left: 63px;
  }
  100% {
    left: 63px;
  }
}
