@font-face {
  font-family: "ChronoType";
  src: local("ChronoType"), url(./fonts/ChronoType.ttf) format("ttf");
}

.contact-social {
  margin: auto;
  position: relative;
  width: 345px;
  height: 430px;
  overflow: hidden;
}

.social-row {
  display: flex;
  width: 690px;
  height: 430px;
  margin: 3rem auto;
}

.projects-text {
  font-family: "ChronoType";
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 300px;
  width: 345px;
  text-align: center;
  line-height: 300px;
}

.item-shop {
  background: url("images/itemshop.png") no-repeat;
  width: 345px;
  height: 300px;
  image-rendering: pixelated;
}

.window-button {
  height: 35px;
  width: 50px;
  position: absolute;
  top: 120px;
  left: 150px;
}

.window-button:hover {
  cursor: pointer;
}

.shop-keep-dialogue {
  position: absolute;
  top: 310px;
  font-family: "ChronoType";
  font-size: 1.5rem;
  width: 335px;
  margin: 0 10px;
  left: -400px;
  transition: 0.5s;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.shop-keep-dialogue.true {
  left: 0;
}
