.fireplace {
  position: absolute;
  height: 40px;
  width: 40px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  animation: fireplace infinite steps(4, end) 1s;
  -webkit-animation: fireplace infinite steps(4, end) 1s;
  -moz-animation: fireplace infinite steps(4, end) 1s;
  z-index: 3;
  top: 132px;
  left: 68px;
  background-repeat: no-repeat;
  background-size: 22px 25px;
}

@-webkit-keyframes fireplace {
  0% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background-image: url("images/fireplace/fire2.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background-image: url("images/fireplace/fire3.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;

    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-moz-keyframes fireplace {
  0% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background-image: url("images/fireplace/fire2.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background-image: url("images/fireplace/fire3.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes fireplace {
  0% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background-image: url("images/fireplace/fire2.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background-image: url("images/fireplace/fire3.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background-image: url("images/fireplace/fire1.png");
    background-repeat: no-repeat;
    background-size: 22px 25px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}
