@font-face {
  font-family: "ChronoType";
  src: url("./fonts/ChronoType.ttf") format("ttf"),
    url("fonts/ChronoType.woff2");
}

.intro-row {
  display: flex;
  width: 690px;
  margin: auto;
}

.intro-wrapper {
  margin: 0;
  position: relative;
  width: 345px;
  height: 430px;
  overflow: hidden;
}

.intro-text {
  font-family: "ChronoType";
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 300px;
  width: 345px;
  text-align: center;
  line-height: 300px;
}

.house {
  position: absolute;
  background: url("images/house.png") no-repeat;
  width: 345px;
  height: 300px;
  z-index: 3;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.grass {
  position: absolute;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;

  background: url("images/grass.png") no-repeat;
  width: 355px;
  height: 30px;
  background-repeat: repeat-x;
  z-index: 2;
  top: 200px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.sidewalk {
  position: absolute;
  background-size: 370px 70px;
  top: 230px;
  background: url("images/sidewalk.png") no-repeat;
  width: 355px;
  height: 70px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.guy,
.guy-two {
  background-size: 35px 70px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;

  margin: auto;
  z-index: 4;
  height: 70px;
  width: 35px;
  position: absolute;
}

.guy {
  top: 205px;
  left: 15px;
  background: url(./images/char1/right_stand.png);
  animation: char1-path infinite 16s, move linear infinite 16s;
}

.guy-two {
  top: 208px;
  left: 290px;
  background: url(./images/char2/down_stand.png);
  animation: char2 linear infinite 16s;
}

.guy:hover,
.guy-two:hover {
  cursor: pointer;
}

.char1-dialogue,
.char2-dialogue {
  position: absolute;
  top: 310px;
  font-family: "ChronoType";
  font-size: 1.5rem;
  width: 335px;
  margin: 0 10px;
  left: -400px;
  transition: 0.5s;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.char1-dialogue.true,
.char2-dialogue.true {
  left: 0;
}

@keyframes char1-path {
  0% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  1.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  2% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  3.99% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  4% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  5.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  6% {
    background: url(./images/char1/right_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  7.99% {
    background: url(./images/char1/right_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  8% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  9.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  10% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  11.99% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  12% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  13.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  14% {
    background: url(./images/char1/right_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  15.99% {
    background: url(./images/char1/right_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  16% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  17.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  18% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  19.99% {
    background: url(./images/char1/right_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  20% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  25% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  44% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  45.99% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  46% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  48.99% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  49% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  51.99% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  52% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  53.99% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  54% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  55.99% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  56% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  57.99% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  58% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  59.99% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  60% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  61.99% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  62% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  63.99% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  64% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  65.99% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  67.99% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  68% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  69.99% {
    background: url(./images/char1/left_walk1.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  70% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  71.99% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  72% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  73.99% {
    background: url(./images/char1/left_walk2.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  74% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  89% {
    background: url(./images/char1/left_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  90% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  99% {
    background: url(./images/char1/down_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url(./images/char1/right_stand.png) no-repeat center;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes move {
  0% {
    left: 15px;
  }
  22% {
    left: 230px;
  }
  50% {
    left: 230px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 15px;
  }
}

@keyframes char2 {
  0% {
    background: url(./images/char2/down_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  24.99% {
    background: url(./images/char2/down_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  25% {
    background: url(./images/char2/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.99% {
    background: url(./images/char2/left_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  34% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  34.5% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  35% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  35.5% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  36% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  36.5% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  37% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  37.5% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  38% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  38.5% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  39% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  39.5% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  40% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  40.5% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  41% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  41.5% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  42% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  42.5% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  43% {
    background: url(./images/char2/laugh1.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  43.5% {
    background: url(./images/char2/laugh2.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  44% {
    background: url(./images/char2/laugh3.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }

  45% {
    background: url(./images/char2/down_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url(./images/char2/down_stand.png) no-repeat;
    background-size: 35px 70px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@media (max-width: 730px) {
  .intro-row {
    display: block;
    width: 345px;
    height: 480px;
  }

  .intro-wrapper {
    margin: auto;
  }
  .intro-text {
    margin: 0;
    line-height: 50px;
    height: 50px;
    width: 345px;
  }
}
